*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
/* header and nav styles */
header{
 background-color: #fff8f3;
 background-image: url("/Images/header_bg.png") , url("/Images/developer.png");
 background-repeat: no-repeat;
 background-position: bottom right , left;
}
.logo{
    font-size: 45px;
}
.logo-extra-style{
    color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav li{
    list-style-type: none;
}
/* header and nav styles */

/*  button style */
.btn-primary{
    padding: 15px 30px;
    border: none;
    background-color: #fd6e0a;
    color:#ffffff;
    cursor: pointer;
    font-weight: bold;
}
.btn-outline{
    padding: 15px 30px;
    border: 1px solid #fd6e0a;
    background-color: transparent;
    color: #fd6e0a;
    cursor: pointer;  
    font-weight: bold;
}
/*  button style */


/* bannner styles */
.banner{
   display: flex;
   justify-content: space-between;
   padding: 0 200px;
   align-items: center;
}

.banner-title{
    font-size: 25px;
    margin: 20px 0;
}

.author-name{
    font-size: 50px;
    margin-top: 20px;
    
}


.banner-description{
    color: gray;
    margin: 20px 0;
}
/* bannner styles */

/* about section styles */
main{
    margin: 100px 200px;
}
.about{
    margin-top: 130px;
    background-color: #fff8f3;
    min-height: 300px;
    min-width: 500px;
    text-align: center;
}
.about-info{
    padding: 40px;
}
.section-title{
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
}
.section-description{
    color: gray;
}
.contact-info{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 30px;
}
.info-name{
    color: gray;
}
.info-value{
    font-weight: bold;
}
/* about section styles */

/* what i do section styles */
.what-i-do{
   margin-top: 130px; 
}

.skill-container{
    display: flex;
    gap: 30px;
}

.skill{
    background-color: white;
    box-shadow:5px 5px 3px 5px rgb(202, 202, 202);
    padding: 25px 15px;
    margin-top: 50px;
}

.skill-title{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    margin-top: 20px;
}
.skill-description{
    color: gray;
    font-size: 16px;
}